
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 345 100% 10%;
    --card: 60 56% 95%;
    --card-foreground: 345 100% 10%;
    --popover: 60 56% 95%;
    --popover-foreground: 345 100% 10%;
    --primary: 345 100% 25%;
    --primary-foreground: 60 56% 91%;
    --secondary: 43 89% 38%;
    --secondary-foreground: 60 56% 91%;
    --muted: 60 20% 85%;
    --muted-foreground: 345 20% 40%;
    --accent: 43 89% 38%;
    --accent-foreground: 60 56% 91%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 345 100% 15%;
    --input: 345 100% 20%;
    --ring: 43 89% 38%;
    --radius: 0.75rem;
    --chart-1: 345 100% 25%;
    --chart-2: 43 89% 38%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
  .dark {
    --background: 345 100% 5%;
    --foreground: 60 56% 91%;
    --card: 345 100% 8%;
    --card-foreground: 60 56% 91%;
    --popover: 345 100% 5%;
    --popover-foreground: 60 56% 91%;
    --primary: 345 100% 25%;
    --primary-foreground: 60 56% 91%;
    --secondary: 43 89% 38%;
    --secondary-foreground: 60 56% 91%;
    --muted: 345 40% 15%;
    --muted-foreground: 345 10% 70%;
    --accent: 43 89% 38%;
    --accent-foreground: 60 56% 91%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 345 40% 15%;
    --input: 345 40% 15%;
    --ring: 43 89% 38%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}
